*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.container{
    display: flex;
    justify-content: center;
}
button{
    width:100px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 4px;
    background-color: cadetblue;
    color: white;
    font-weight: 700;
}
button:hover{
    background-color: rgb(77, 183, 187);
    border: 2px solid black;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 30px; */
   
}
.line{
    height: 70px;
    width: 3px;
    background-color: black;
    margin-top: 15px;
  
}
h4{
    margin: 15px 0px 5px 12px;
    font-weight: 300;
    color: white;
}
p{
    margin-top: 20px;
    background-color: azure;
    margin-left: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    width: 300px;
    text-align: center;
   padding: 4px;
}
@media(max-width:301px){
    p{
        width: 100%;
    }
}
html{
    height: 100%;
}
body{
    /* background-image: linear-gradient(to right,#051937,#004d7a,#008793,#00bf72,#a8eb12); */
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
   
}